---
layout: default
title: Population genomics applied to conservation.
description: Summary of my research.
featured_image: /images/GBR_landscape_bright.JPG
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>Population genomics applied to conservation</h1>
		<p>My research focuses on environmental adaptation with the goal to help conserve biodiversity in the face of global change.
			By conducting ecological experiments and observing natural variation using genomic methods, I aim to understand evolutionary processes and explore genotype-environment interactions.
			I am currently focused on marine organisms, particularly coral, and anthropogenic stressors in their environment. </p>

		{% include socials.html %}

		<sub><p>Click on any of the projects below to view my current work.</p></sub>

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section>
